@import '../../../common/color.less';

.header{
    height: 100px;
    background-color: @header-bgcolor;

    .contact{
        float: right;
        padding:20px 40px 10px 0;
        ul{
            li{
                float:right;
                margin-left: 20px;
                a{
                    color: @header-text;
                    font-size: 2em;
                    &:hover{
                        color:#fff;
                    }
                }
            }
        }
        .email{
            color: @header-text;
            font-size: 14px;
            text-decoration: none;        
        }
    }
}
@media(max-width:1080px){
    .slogan{
        display: none;
    }
}
@media(max-width:640px){
    .header{
        
        .brand{
            left:50%;
            margin-left:-120px;
            text-align: center;
        }
        .contact{
            display: block;
            width: 100%;
            position: absolute;
            top:140px;
            text-align: center;
            float: none;
            padding:10px;
            ul {
                li{
                    float: none;
                    display: inline;
                    margin: 0 10px;
                }
            }
        }
        
    }
}