@import '../common/color.less';

body,h1,h2,h3,h4,h5,p,ul{
    padding:0;
    margin:0;
}
html,body{
    min-width: 100%;
    // background-color: @body-bgcolor;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUAQMAAAC3R49OAAAABlBMVEUAAAAnNk6AHRRIAAAAAnRSTlMAsyT7Lw4AAAANSURBVAjXY2hgoCoAACfQAIGM5uSyAAAAAElFTkSuQmCC');
    background-size: 12px;
    overflow-x: hidden;
    overflow-y: auto;
}
a{
    text-decoration: none;
}
.btn{
    border: none;
    background-color: @header-bgcolor;
    color:@header-text;
    padding:5px 10px;
    cursor: pointer;

    &:hover{
        color: #fff;
        transform: scale(1.1);
    }
    &:focus{
        outline: none;
    }
}

.Flipcard-front,.Flipcard-back{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.label{
    padding:5px;
    font-size: 0.8em;
    background-color: @label-bgcolor;
    margin-right: 5px;
    margin-bottom: 5px;
    color: @gray-text;
    border-radius: 5px;
    
    &::before{
        content:"# "
    }
}

@media(max-width:640px){
    .content,.new-container,.article{
        margin-top: 140px;
    }
}