@import '../../../common/function.less';

.content{
    position: relative;
    margin-top: 60px;
    padding:15px 0;
    overflow: hidden;
    .center{
        margin-left: 40px;
        margin-right:300px;
    }
    .sidebar{
        .box();
        float: right;
        margin-right:40px;
        width: 200px;
    }

}
@media(max-width:720px){
    .content{
        .center,.sidebar{
            position: static;
            margin-left: 20px;
            margin-right: 20px;
        }
        .sidebar{
            float: none;

        }
        .sidebar{
            width: auto;
        }
    }
}
