
.box(){
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding:10px;
}
.content{
    position: relative;
    margin-top: 60px;
    .center{
        .box();
        position: absolute;
        left: 40px;
        right:400px;
    }
    .sidebar{
        .box();
        position: absolute;
        right:40px;
        width: 300px;
    }

}