.new-container{
    margin-top:60px;
    .flip{
        margin:10px 40px 20px;
    }
    .flip-viewer{
        margin-top: 25px;
        position: relative;
        .viewer-btns{
            position: absolute;
            top:-25px;
            right: 10px;
            .btn{
                padding:10px;
                margin-left: 10px;
            }
        }
    }
}
@media(max-width:640px){
    .new-container{
        .flip{
            margin:20px;
        }
    }
}